/* 접근성 관련 CSS */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

:root {
    --color-green: #03cf5d; /* 기본 색상 */
    --color-silver-light: #dadada;
    --color-silver: #999;
    --color-red: #ff1414;
    --color-black: #333;
    --color-white: #fff;

    --size-10: 0.625rem;
    --size-12: 0.75rem;
    --size-14: 0.875rem;
    --size-16: 1rem;
    --size-18: 1.125rem;
    --size-20: 1.25rem;
}

main {
    margin-top: 70px;
    margin-inline: auto;
    padding-inline: var(--size-14);

    @media (min-width: 576px) {
        margin-top: 100px;
        width: 470px;
    }
}

/* 기본적으로 에러 메시지 숨기기 */
.error-message {
    margin-top: calc(var(--size-14) / 2);
    display: none;
    color: var(--color-red);
    font-size: var(--size-12);
    /* font-weight: 400; */
    line-height: var(--size-18); /* 150% */
}

/* input이 유효하지 않고 사용자가 상호작용한 후일 때, 바로 뒤의 에러 메시지 보이기 */
input:user-invalid + .error-message {
    display: block;
}

h1 {
    text-align: center;
    svg {
        width: 164px;
        height: 32px;
        margin-block-end: 45px;
        @media (min-width: 576px) {
            width: 230px;
            height: 44px;
            margin-block-end: 50px;
        }
    }
}

.form-input {
    &,
    input {
        width: 100%;
    }

    &:not(:first-child) {
        margin-top: var(--size-10);
    }

    input {
        height: 48px;
        border: 1px solid var(--color-silver-light);
        padding: var(--size-14);
        color: var(--color-black);
        &:focus {
            outline: none;
            border-color: var(--color-green);
        }
        &::placeholder {
            color: var(--color-silver);
        }
    }
}

button[type='submit'] {
    width: 100%;
    height: 56px;
    background-color: var(--color-green);
    color: var(--color-white);
    font-size: var(--size-16);
    border: none;
    /* cursor: pointer; */
    margin-top: var(--size-20);
    &:hover {
        background-color: #02b84c;
    }
}

.option-container {
    margin-top: var(--size-10);
    position: relative;
    width: 100%;
    font-size: var(--size-14);
    & > div {
        position: absolute;
    }

    .auto-login-container {
        right: 0;
        @media (min-width: 576px) {
            right: auto;
            left: 0;
        }

        width: 125px;
        height: 25px;

        label,
        span {
            display: inline-block;
            height: 100%;
        }

        input:not(:checked) + label {
            svg:first-of-type {
                display: none;
            }
            svg:last-of-type {
                display: inline-block;
            }
        }
        input:checked + label {
            svg:first-of-type {
                display: inline-block;
            }
            svg:last-of-type {
                display: none;
            }
        }
    }

    .ip-address-container {
        display: none;

        @media (min-width: 576px) {
            display: block;
            right: 0;
        }
        width: 78px;
        input:not(:checked) + label {
            .ip-address-on {
                display: none;
            }
            .ip-address-off {
                display: inline-block;
            }
        }
        input:checked + label {
            .ip-address-on {
                display: inline-block;
            }
            .ip-address-off {
                display: none;
            }
        }
    }
}
